/* 
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/ 
:root {
/* Primary */
    --strongCyan: hsl(172, 67%, 45%);
/* Neutral */
    --veryDarkCyan: hsl(183, 100%, 15%);
    --darkGrayishCyan: hsl(186, 14%, 43%);
    --grayishCyan: hsl(184, 14%, 56%);
    --lightGrayishCyan: hsl(185, 41%, 84%);
    --veryLightGrayishCyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
} 



body {
    font-family: "Space Mono", monospace; 
    background-color: var(--lightGrayishCyan);   
    color: var(--darkGrayishCyan);
}

/* logo */
.logo {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    flex-grow: 100%;
    padding: 1.5rem 1rem;
    background-color: var(--white);
    border-radius: 3% 3% 0% 0%;
}
.input-container{
    margin: 0.5rem 0 1.5rem 0;
    padding: 6rem 0;
    display: flex;
    border-radius: 3%;
    padding: 0.2rem 0;
    justify-content: space-between;
    background-color: var(--veryLightGrayishCyan);
}

input{
    border: none;
    font-size: 24px;
    text-align: end;
    display: flex;
    padding-right: 0.6rem;
    background-color: var(--veryLightGrayishCyan);
}

label{
    display: flex;
    align-self: center;
    padding-left: 0.5rem;
}

/* buttons */
.button-container{
    display: flex;   /* Magic begins */
  flex-wrap: wrap; /* Allow multiple lines */
    flex: 1 150px;   /* Initial width of 600px/2
                 Grow to fill remaining space */
    min-width: 0;    /* No minimal width */
    flex-direction: row;
    align-items: center;
}

input#tip-custom{
    display: flex;
    background-color: aqua;
    text-align: center;
}

/* totals container */

.total-container p{
    margin:0;
    padding:0;
}
.total-container{
    margin-top: 2rem;
    padding: 2rem 0rem;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    background-color: var(--darkGrayishCyan);
    color: var(--white);
}

.tip{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.total-text{
    display: flex;
    padding-left: 1rem;
    flex-direction: column;
    justify-content: flex-start;
}

.person-text{
    color: var(--grayishCyan);
    display: flex;
    flex-direction: column;
}

.total{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

#tipAmountPerPerson{
    font-size: 24px;
    padding-right: 1rem;
    color: var(--strongCyan);
}

#totalAmountPerPerson{
    font-size: 24px;
    padding-right: 1rem;
    color: var(--strongCyan);
}

button#reset{
    font-size: 18px;
    color: var(--darkGrayishCyan);
    display: flex;
    align-self: center;
    justify-content: center;
    border: none;
    border-radius: 3%;
    padding: 0.7rem 7rem;
    background-color: var(--strongCyan);
}


/*FOOTER SECTION */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding-top: 1rem;
}
    
.attribution a { 
    color: hsl(228, 45%, 44%);
    

}