/* 
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/ 


/*FOOTER SECTION */
attribution { 
    font-size: 11px; 
    text-align: center; }
    
attribution a { 
    color: hsl(228, 45%, 44%);
    

}